@{
    ViewData["Titulo"] = "Fase de Seleção";
    ViewData["Descricao"] = "Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão GERAR MEU CAMPEONATO para prosseguir.";

}
<form class="form" asp-action="ResultadoCampeonato" method="post" onsubmit="return ValidarFormOnSubmit();">
    <div class="container">
        <div class="row" style="padding-top:20px">
            <div class="col-sm-6">
                <h6>Selecionados <b><span id="filmesSelecionados">0</span></b></h6>
                <h6>de <b>8</b> filmes</h6>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-info pull-right" type="submit">GERAR MEU CAMPEONATO</button>
            </div>
        </div>

        <div class="row">
            @{
            foreach (var filme in Model)
            {
                <div class="col-sm-3 inputDiv">
                    <div class="inputGroup">
                        <input id="@filme.Id" value="@filme.Id" name="filmes" type="checkbox" onclick="FilmeOnClick();"/>
                        <label for="@filme.Id">@filme.Titulo<br /> @filme.AnoLancamento</label>
                    </div>
                </div>
            }
            }
            </div>
    </div>
</form>
