@{
    ViewData["Title"] = "Fase de Seleção";
}

<div class="container bannerCopa">
    <h2><b>CAMPEONATO DOS FILMES</b></h2>
    <h4>Fase de Seleção</h4>
    <h6>Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão GERAR MEU CAMPEONATO para prosseguir.</h6>
</div>
<form class="form" asp-action="ObterResultadoCampeonato" method="post" onsubmit="return ValidarFormOnSubmit();">
    <div class="container">
        <div class="row" style="padding-top:20px">
            <div class="col-sm-6">
                <h4>Selecionados <span id="filmesSelecionados">0</span> de 8 filmes</h4>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-info pull-right" type="submit">GERAR MEU CAMPEONATO</button>
            </div>
        </div>

        <div class="row">
            @{
            foreach (var filme in Model)
            {
                <div class="col-sm-3 inputDiv">
                    <div class="inputGroup">
                        <input id="@filme.Id" value="@filme.Id" name="filmes" type="checkbox" onclick="FilmeOnClick();"/>
                        <label for="@filme.Id">@filme.Titulo<br /> @filme.AnoLancamento</label>
                    </div>
                </div>
            }
            }
            </div>
    </div>
</form>
